

@tailwind base;

@tailwind components;
@tailwind utilities;




.pricing-container{
  background-image: url('/back.jpg');
  background-size: cover; /* This will make the background image cover the entire element */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center;
  width: 100%; /* Set the width of the div to 100% of the viewport width */
  height: 100vh;
  position: relative;
  
}
@media screen and (max-width: 540px) {
  .about-us-content{
    padding-left: 50px;

  }
  .about-image-container .about-us-img  {
    width: 99%;
  }
}
@media screen and (max-width: 490px) {
  .about-us-content{
    padding-left: 20px;

  }
  .about-image-container .about-us-img  {
    width: 400px;
  }
}