

@tailwind base;

@tailwind components;
@tailwind utilities;




.pricing-container{
  background-image: url('/back.jpg');
  background-size: cover; /* This will make the background image cover the entire element */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center;
  width: 100%; /* Set the width of the div to 100% of the viewport width */
  height: 100vh;
  position: relative;
  
}
@media screen and (max-width: 540px) {
  .about-us-content{
    padding-left: 50px;

  }
  .about-image-container .about-us-img  {
    width: 99%;
  }
}
@media screen and (max-width: 490px) {
  .about-us-content{
    padding-left: 20px;

  }
  .about-image-container .about-us-img  {
    width: 400px;
  }
}

@media screen and (max-width: 580px) {

.convo-content h1{
  font-size: 30px;
}
.convo-content h2{
  font-size: 20px;
}
.convo-btn button{
  padding: 5px 25px;
}


}
@media screen and (max-width: 510px) {

.convo-content{
  padding-left: 20px;
}
.convo-btn{
  padding-left: 20px;
}


}
@media screen and (max-width: 400px) {

.convo-content h1{
  font-size: 25px;
}
.convo-content h2{
  font-size: 18px;
}
}

@media screen and (max-width: 350px) {

.convo-content h1{
  font-size: 20px;
}
.convo-content h2{
  font-size: 15px;
}


}


@media screen and (max-width: 550px) {
.pricing-card{
  width: 90%;
}

}
@media screen and (max-width: 420px) {
.pricing-container h1{
  font-size: 35px;
}

}